$body-bg: #121212;
$body-color: #fff;

$theme-colors: (
    "primary": #e75480,
    "secondary": #000000,

    "success": #0f0,
    "warning": #ff0000,
    "info": #00f,
    "danger": #ff0000,

    "dark": #ffffff3f
);

@import "node_modules/bootstrap/scss/bootstrap";