<nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
    <div class="container">
        <a class="navbar-brand" href="#">> LOG IN</a>

        <ul class="nav">
        </ul>
    </div>
</nav>