<div class="container">
    <table
        class="table table-striped table-borderless table-sm"
        id="gamesTable"
    >
        <thead>
            <tr>
                <th class="th-sm">user</th>
                <th>score</th>
            </tr>
        </thead>
        <tbody>
            <% for (let game of games) { %>
                <tr>
                    <td><%- game.user.username %></td>
                    <td><%- game.score %></td>
                </tr>
            <% } %>
        </tbody>
    </table>
</div>


<script
    type="text/javascript"
    src="https://cdn.datatables.net/v/bs4/dt-1.10.20/datatables.min.js"
></script>

<script>
    $(document).ready(function () {
        $('#gamesTable').DataTable()
    })
</script>